<h4 data-id="" class="create-player">Create Player</h4>

  <form class="create-player">
    <fieldset>
      <!-- <input type="number" name="player[team_id]" autocomplete="id" placeholder="team ID" required value="{{team.id}}"> -->
      <input type="text" name="player[name]" placeholder="player name" required>
      <input type="text" name="player[position]" placeholder="player position" required>
      <input type="number" name="player[bats]" autocomplete="Bats" placeholder="bats" required>
      <input type="number" name="player[hits]" autocomplete="Hits" placeholder="hits" required>

      <input class="button" type="submit" value="Create player">
    </fieldset>
  </form>
