<h1 data-id="" class="create-team">Create a Team</h1>

  <form class="create-team">
    <fieldset>
      <input type="text" name="team[name]" placeholder="Team name" required>
      <input type="integer" name="team[win]" autocomplete="Wins" placeholder="wins">
      <input type="integer" name="team[loss]" autocomplete="Losses" placeholder="losses">

      <input class="button" type="submit" value="Create Team">
    </fieldset>
  </form>
