<h4 data-id="" class="delete-team">Delete Your team</h4>

<form class="delete-team">
  <fieldset>
    <input class="delete-team-button button" type="submit" value="Delete Team"><p>WARNING THIS WILL DELETE YOUR TEAM AND PLAYERS</p>
  </fieldset>
</form>
