<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <!-- Brand Logo -->

      </a>
    </div>
    <!-- sign out button -->

    <button type="button" class="sign-out btn btn-default navbar-btn navbar-right">Sign Out</button>

    <!-- change password dropdown -->
    <div class="account-info">

    </div>
    <div class="sign-out-dropdown dropdown navbar-right">
      <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        Options
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">
      <li><a href="#">{{>sign-in}}</a></li>
      <li><a href="#">{{>sign-up}}</li>
      <li><a href="#">{{>change-password}}</a></li>
    </ul>
  </div>
  </div>
</nav>
