
<h1 data-id="" class="sign-up">Sign Up</h1>

<form class="sign-up">
  <fieldset>
    <input type="email" name="credentials[email]" autocomplete="email" placeholder="Email" required>
    <input type="text" name="credentials[username]" autocomplete="email" placeholder="Username" required>
    <input type="password" name="credentials[password]" autocomplete="password" placeholder="Password" required>
    <input type="password" name="credentials[password_confirmation]" autocomplete="password"  placeholder="Password Confirmation" required>
    <input class="button" type="submit" value="Sign up!">
  </fieldset>
</form>
