
<h1 data-id="" class="sign-in">Sign In</h1>

<form class="sign-in">
  <fieldset>
    <input type="email" name="credentials[email]" autocomplete="email" placeholder="Email" required>
    <input type="password" name="credentials[password]" autocomplete="password" placeholder="Password" required>
    <input class="button" type="submit" value="Sign In!">
  </fieldset>
</form>
