$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

.panel-heading {
  text-align: center;
}

.panel {
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  background-image: url(https://i.imgur.com/ndV2gBB.jpg);
  background-size: cover;
  color: gold;
  -webkit-box-shadow: -4px 3px 100px 25px rgba(0, 0, 0, 0.65);
  -moz-box-shadow: -4px 3px 100px 25px rgba(0, 0, 0, 0.65);
  box-shadow: -4px 3px 100px 25px rgba(0, 0, 0, 0.65);
}

body {
  background-image: url(https://i.imgur.com/PcBdV95.png);
  background-size: cover;
}

a {
  color: gold;
}
